# import

In [1]:
import pandas as pd
import json
from glob import glob
import matplotlib.font_manager as fm
import matplotlib.pyplot as plt
plt.style.use('ggplot')
from tqdm import tqdm

In [2]:
jsons = glob('tweets/*.json')
for i, f in enumerate(jsons):
    print(i,f)

0 tweets/#‡∏Å‡∏π‡∏™‡∏±‡πà‡∏á‡πÉ‡∏´‡πâ‡∏°‡∏∂‡∏á‡∏≠‡∏¢‡∏π‡πà‡πÉ‡∏ï‡πâ‡∏£‡∏±‡∏ê‡∏ò‡∏£‡∏£‡∏°‡∏ô‡∏π‡∏ç.json
1 tweets/#save‡∏ß‡∏±‡∏ô‡πÄ‡∏â‡∏•‡∏¥‡∏°.json
2 tweets/#‡∏ò‡∏£‡∏£‡∏°‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡πÅ‡∏•‡∏∞‡∏Å‡∏≤‡∏£‡∏ä‡∏∏‡∏°‡∏ô‡∏∏‡∏°.json
3 tweets/#‡πÄ‡∏Å‡∏µ‡∏¢‡∏°‡∏≠‡∏∏‡∏î‡∏°‡πÑ‡∏°‡πà‡∏Å‡πâ‡∏°‡∏´‡∏±‡∏ß‡πÉ‡∏´‡πâ‡πÄ‡∏ú‡∏î‡πá‡∏à‡∏Å‡∏≤‡∏£.json
4 tweets/#25‡∏û‡∏§‡∏®‡∏à‡∏¥‡∏Å‡∏≤‡πÑ‡∏õSCB.json
5 tweets/#‡∏°‡πá‡∏≠‡∏ö25‡∏û‡∏§‡∏®‡∏à‡∏¥‡∏Å‡∏≤‡∏ó‡∏ß‡∏á‡∏Ñ‡∏∑‡∏ô‡∏™‡∏°‡∏ö‡∏±‡∏ï‡∏¥‡∏ä‡∏≤‡∏ï‡∏¥.json
6 tweets/#‡∏°‡πá‡∏≠‡∏ö2‡∏ò‡∏±‡∏ô‡∏ß‡∏≤.json

# open file

In [3]:
i = 2
print(jsons[i])
df = pd.read_json(jsons[i], lines=True)
df

tweets/#‡∏ò‡∏£‡∏£‡∏°‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡πÅ‡∏•‡∏∞‡∏Å‡∏≤‡∏£‡∏ä‡∏∏‡∏°‡∏ô‡∏∏‡∏°.json

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1395957395541483521,1395957395541483520,2021-05-22 11:19:13+07:00,2021-05-22,11:19:13,700,1317144133362880512,xxxxxo13095853,Quantum Thinking,,...,,,,,,[],,,,
1,1395207841854627840,1395207841854627840,2021-05-20 09:40:45+07:00,2021-05-20,09:40:45,700,1316394116519878656,tartar27513100,Tartar,,...,,,,,,[],,,,
2,1390140822654357507,1390140822654357504,2021-05-06 10:06:14+07:00,2021-05-06,10:06:14,700,1255793391754866696,samana_2020,Samana,,...,,,,,,[],,,,
3,1387736043483373568,1387736043483373568,2021-04-29 18:50:30+07:00,2021-04-29,18:50:30,700,1112422005712666624,jniss_zjo,íàû‚ÇÅ‚ÇÄ‚ÇÄ‚Ñâ‚ö°üóº|||üöÄ Abolish112 ·¥∫·¥º·µç·µí·µà ·¥∫·µí·¥∑‚Å±‚Åø·µç ¬∫‚Åø É ∏ ∞·µò·µê·µÉ‚Åø,,...,,,,,,[],,,,
4,1387689061037445120,1387689061037445120,2021-04-29 15:43:48+07:00,2021-04-29,15:43:48,700,1542865891,oldman_b1,‡∏≠‡∏≤‡πÅ‡∏õ‡∏∞‡πÅ‡∏Å‡πà‡πÜ|||,,...,,,,,,[],,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17651,1232272534130675712,1232272534130675712,2020-02-25 18:54:01+07:00,2020-02-25,18:54:01,700,1226706689107214337,mikkyst1,mikky.st,,...,,,,,,[],,,,
17652,1232256179012661248,1232256179012661248,2020-02-25 17:49:01+07:00,2020-02-25,17:49:01,700,2362163185,prasitchai_k,Prasitchai Kumbang,,...,,,,,,[],,,,
17653,1232251203297218560,1232251203297218560,2020-02-25 17:29:15+07:00,2020-02-25,17:29:15,700,2362163185,prasitchai_k,Prasitchai Kumbang,,...,,,,,,[],,,,
17654,1232229437594193920,1232229437594193920,2020-02-25 16:02:46+07:00,2020-02-25,16:02:46,700,3121015171,paritchi,‡πÄ‡∏û‡∏ô‡∏Å‡∏ß‡∏¥‡∏ô - Parit Chiwarak,,...,,,,,,[],,,,
17655,1232219412628791296,1232219412628791296,2020-02-25 15:22:56+07:00,2020-02-25,15:22:56,700,811239249303375873,six_miles_duck,M.POKO,,...,,,,,,[],,,,

In [37]:
df.iloc[3]

id                                               1347798486868221952
conversation_id                                  1347798486868221952
created_at                                 2021-01-09 13:52:54+07:00
date                                             2021-01-09 00:00:00
time                                                        13:52:54
timezone                                                         700
user_id                                          1129237103492120576
username                                                  badwitchef
name                                                            madu
place
tweet              #BTS¬†¬†¬†¬†¬†¬†¬†¬†¬†¬†¬† #BLACKPINK #GOT7¬†¬†¬†¬†¬†¬†¬†¬†¬†¬†¬†¬†  ...
language                                                          en
mentions                                                          []
urls                                                              []
photos                                                            []
replies_count                                                      0
retweets_count                                                     0
likes_count                                                        0
hashtags           [bts, blackpink, got7, 25‡∏û‡∏§‡∏®‡∏à‡∏¥‡∏Å‡∏≤‡πÑ‡∏õscb, bts_twt...
cashtags                                                          []
link               https://twitter.com/badwitchef/status/13477984...
retweet                                                        False
quote_url
video                                                              1
thumbnail          https://pbs.twimg.com/ext_tw_video_thumb/13476...
near
geo
source
user_rt_id
user_rt
retweet_id
reply_to                                                          []
retweet_date
translate
trans_src
trans_dest
Name: 3, dtype: object

In [5]:
font_path = '/Users/Nozomi/Library/Fonts/THSarabunNew.ttf'
fp = fm.FontProperties(fname=font_path)

hashtag = jsons[i].split('/')[1].replace('.json','')

print(hashtag)

df.groupby(df["date"]).count()['id'].plot()
plt.title(hashtag, fontproperties=fp, font)
plt.show()

SyntaxError: positional argument follows keyword argument (<ipython-input-5-ce881de40c13>, line 9)